.p{
    background-color: blueviolet;
    text-align: justify;
    color: white;
 }
 
 .h1{
     background-color: aqua;
     text-align: center;
     color: white;
 }

#sample-id-selector{
    background-color: red;
    text-align: center;
    font-size: larger;
}